* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

h1, h2,h3,h4 {
    user-select: none;
}

p, span, div,a {
    user-select: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.header {
    width: 220px;
    height: 100vh;
    background-color: #191922;
    border-width: 0.1px;
    border-top: 0;
    border-left: 0;
    border-color: rgb(158, 161, 163);
    border-style: outset;
    padding-top: 10px;
    position: fixed;
}

.container-menu {
    margin-left: 8%;
}

.scroll {
    width: 200px;
    height: 410px;
    overflow-y: hidden;
}

.scroll:hover {
    overflow-y: auto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #868585;
    border-radius: 50px;
}

.assinatura {
    background-color: #45AFBE;
    border-radius: 10px;
    margin-right: 8%;
    margin-top: 22%;
    height: 150px;
}

.assinatura p {
    color: #fff;
    text-align: left;
    font-size: 15px;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 20px;
}

.assinatura button {
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: 1px #fff;
    border-style: solid;
    border-radius: 50px;
    margin-left: 8%;
    margin-top: 15px;
    cursor: pointer;
    transition: 1s;
}

.assinatura button:hover {
    background-color: #8dd1da;
}

.nav-menu{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

.nav-menu a {
    margin-top: 25px;
    font-size: 18px;
}

.nav-menu a:hover {
    color: #EF5452;
}

.nav-menu i {
    font-size: 22px;
    margin-right: 6px;
}

.nav-menu-sub {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.nav-menu-sub a {
    font-size: 12px;
    color: rgb(121, 117, 117);
    margin-left: 35px;
    margin-top: 20px;
}

.nav-menu-sub a:hover {
    color: #EF5452;
}


.barra-play {
    background-color: #23232D;
    height: 80px;
    position:fixed;
    z-index:999;
    left:0%;
    right: 0%;
    bottom: 0;
    overflow:initial;
    border-width: 0;
    border-top: 0.1px;
    border-left: 0;
    border-color: rgb(88, 92, 95);
    border-style: solid;
}

.section-principal {
    margin-right: 300px;
    width: 100%;
    height: 100vh;

}

.section-principal p {
    color: white;
    border-width: 0;
    border-top: 0.1px;
    border-left: 0;
    border-color: rgb(88, 92, 95);
    border-style: solid;
}

.busca {
    border-width: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0.1px;
    border-color: rgb(88, 92, 95);
    border-style: solid;
}

.barra-busca input{
    color: #fff;
    width: 50%;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border: none;
    font-size: 18px;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.barra-busca i{
    color: rgb(88, 92, 95);
    margin-left: 240px;
    padding-top: 15px;
    font-size: 18px;
}

.barra-busca .alert{
    margin-left: 420px;
    font-size: 25px;
}

.barra-busca img {
    width: 35Px;
    height: 35px;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 0;
}

.section-Play {
    display: block;
    box-sizing: border-box;
}

.barra-play {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    left: 0;
    min-width: 990px;
    padding: 0 24px;
    position: fixed;
    right: 0;
    z-index: 300;
}

.barra-play .play{
    font-size: 35px;
}

.section-Play i:hover{
    background-color: #9e9595;
    border-radius: 50%;
    cursor: pointer;
}

.div-play .fet{
    font-size: 20px;
    padding: 20px;
}

.div-tempo{
    align-items: center;
    display: flex;
}

.div-tempo hr{
   width: 100%;
}

hr:hover{
    cursor: pointer;
}

.div-tempo p{
    padding: 15px;
    font-size: 11px;
    color: #9e9595;
 }

.musica-select {
    margin: auto;
    max-width: 55%;
    width: 60%;
}

.div-music p {
    flex: 0.9;
    margin-left: 55px;
}

.div-music {
    align-items: center;
    display: flex;
}

.music-capa {
    margin-left: 12px;
    padding-left: 20px;
    position: relative;
    align-items: center;
    display: flex;
}

.music-capa p{
    margin-left: 12px;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}

.music-capa img {
    border-radius: 4px;
    height: 28px;
    object-fit: cover;
    width: 28px;
}

.section-Play i{
    color: aliceblue;
    font-size: 20px;
}

.musica-select, .music-capa a {
    color: aliceblue;
    font-size: 15px;
}

.comandos i {
    margin-right: 15px;
}

.comandos {
    height: 30px;
    border-right: 1px solid;
    color: rgb(59, 59, 59);
}

@media screen and (min-width: 1024px) {
   
}